*,
*:before,
*:after {
    box-sizing: border-box;
}

.app {
    height: 100vh;
    background-color: #ffffff;
}

.appWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}
